<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start pl-2">
              <a href="/" class="navbar-item">Home</a>
              {% if perms.feedapp.view_report %}
                <a href="{% url 'reports' %}" class="navbar-item">Reports</a>
              {% endif %}
            </div>
            <div class="navbar-end pr-2">
              <div class="navbar-item">
                <div class="buttons">
                  {% if user.is_authenticated %}
                  <a class="button is-primary" href="/logout/">Logout</a>
                  {% else %}
                  <a class="button is-primary" href="/login/auth0">Login</a>
                  {% endif %} 
                </div>
              </div>
            </div>
          </div>
        </nav>  
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">{% block main_title %}{% endblock %}</p>
            <p class="subtitle">{% block sub_title %}{% endblock %}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>